<section class="border border-danger px-3 py-1 mb-2" style='height: 800px'>
  <div class="container-fluid border border-primary px-3 py-1 h-100">
    <div class="row border border-default mx-1 my-1 h-100">
      <div class="w-100">
        <p>Main</p>
      </div>
      <div class="col-lg-2">
        <app-left-menu></app-left-menu>
      </div>
      <div class="col-lg-6 h-100">
        <app-center-content></app-center-content>
      </div>
      <div class="col-lg-4">
        <app-right-menu></app-right-menu>
      </div>
    </div>
  </div>
</section>