<section class="border border-danger px-3 py-1 mb-2" style='height: 800px'>
  <div class="container-fluid border border-primary px-3 py-1 h-100">
    <div class="row border border-default mx-1 my-1 h-100">

      <div class="w-100">
        <p>Post-Detail</p>
      </div>

      <div class="col-lg-2">
        <div class="container border border-primary px-3 py-1">
          <div class="row border border-default mx-1 my-1">
            <p>left</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 h-100">
        <div class="container border border-primary px-3 py-1">
          <div class="row border border-default mx-1 my-1">
            <p>center</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="container border border-primary px-3 py-1">
          <div class="row border border-default mx-1 my-1">
            <p>right</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>