<section class="mb-2" style='min-height: 800px'>
  <div class="container-fluid h-100">
    <div class="row mx-1 my-1 h-100">

      <div class="col-lg-2">
        <div class="container px-3 py-1">
          <div class="row mx-1 my-1">
            <p>left</p>
          </div>
        </div>
      </div>

      <div class="col-lg-6 h-100" style="background-color: #eeeeee">
        <div class="container px-5 py-5">
          <div class="row">
            <div class="card border border-0" style="background-color: #eeeeee">
              <div class="card-body">
                <h4 class="card-title">Card title</h4>
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">
                  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis alias quidem deserunt asperiores ipsa
                  maxime labore vitae incidunt unde vel aspernatur, excepturi animi error impedit laboriosam
                  perferendis? Nihil consectetur repellendus illo! Modi magnam molestiae eum quo quod recusandae numquam
                  aliquam blanditiis earum porro, sint, ipsum deleniti aut. Molestias nam asperiores repellat obcaecati
                  nulla placeat, temporibus iste nemo atque optio magni cum esse inventore assumenda ex numquam eveniet
                  officiis similique delectus et, sed provident. Non pariatur harum, exercitationem tempora cum rerum
                  autem velit commodi, saepe aliquid architecto maxime tenetur voluptate quaerat, dignissimos ratione
                  quos quia expedita ipsa! Nam laborum nostrum asperiores rerum temporibus aliquam animi consequuntur
                  repellat veritatis sapiente iure pariatur, in esse enim inventore omnis eos necessitatibus distinctio
                  excepturi. Sunt, aut! Laborum commodi architecto vero maiores nam inventore minima cumque consectetur
                  officiis cupiditate. Id ipsum ducimus porro nesciunt. Vel illo officiis, similique modi, officia nemo,
                  praesentium molestias vitae qui eius tempora. Dicta optio adipisci sed, eius, unde error enim
                  necessitatibus accusantium consequatur cupiditate fugiat reiciendis, quidem minima nisi repudiandae
                  facere commodi nesciunt ipsam tempore. Placeat, obcaecati, mollitia ipsam soluta aut et quis alias
                  laudantium illo aspernatur esse delectus, doloribus explicabo ab! Fuga et numquam sed delectus id
                  itaque qui recusandae.
                </p>
                <a href="#!" class="card-link">Card link</a>
                <a href="#!" class="card-link">Another link</a>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="col-lg-4">
        <div class="container">
          <div class="row">
            <div class="card border border-0 shadow">
              <div class="card-body">
                <h4 class="card-title">About Author</h4>
                <p class="card-text">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta hic temporibus dolore possimus fugit
                  facilis.
                </p>
                <a href="#!" class="card-link">Linkedin</a>
                <a href="#!" class="card-link">Email</a>
              </div>
            </div>

          </div>
        </div>
      </div>

    </div>
  </div>
</section>